body {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5rem;
    background-color: rgb(228, 232, 236);
}

pre {
    display: none;
}

.nav {
    display: none;
}

.logo {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1.5rem 1rem 1.5rem;
    height: 40px;
    background-color: #8fc4e1;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked+.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menu-box {
    right: 0 !important;
}

#menu-toggle:checked~.menu-btn {
    position: fixed;
}

.menu-btn {
    position: absolute;
    top: 38px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.75px;
    background-color: #12266B;
    transition-duration: 0.25s;
    border-radius: 3px;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 20em;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style-type: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #12266B;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    transition-duration: .25s;
    text-align: right;
}

.menu-item:hover {
    background-color: #ffb700cc;
    color: #12266B;
    padding: 12px 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style: none;
}

ul.nav-bar li a {
    text-decoration: none;
    font-size: 0.93em;
}

#news-stories-list-template {
    margin: auto;
    width: 90%;
}

.featured-story {
    border-radius: 20px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-color: white;
}

.featured-story-title a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: normal;
    line-height: 2.5rem;
    font-size: 2rem;
}

.featured-story-title a:hover {
    color: #FFB800;
}

.featured-story-title a:visited {
    text-decoration: none;
}

.featured-story .description {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.6rem;
}

.featured-story figure {
    width: 100%;
    margin: auto;
    margin-top: 0;
}

.story-list figure {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-headings {
    margin: 3%;
    padding-top: 1em;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.image {
    border-radius: 5px;
}

.story-image {
    border-radius: 5px;
}

.featured-story .source {
    color: #6cb9e2;
    font-weight: 300;
}

.featured-source {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1rem 0;
    font-style: italic;
    font-weight: 300;
}

.featured-story .source:hover {
    color: #1c389e;
}

.story-list {
    padding: 0;
    list-style-type: none;
}

.story-list .source {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
}

a.story-source {
    color: #6cb9e2;
    font-weight: 300;
}

.story-source:hover {
    color: #1c389e;
}

.story-in-stories {
    /* border: 1px solid rgb(187, 187, 187); */
    padding: 10px 10px;
    margin: 3%;
    border-radius: 10px;
    background-color: white;
}

.story-list h1 {
    margin: 0;
    padding-bottom: 2%;
}

.story-list h1 a:hover {
    color: #FFB800;
}

.story-list h1 a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
}

.description {
    color: rgb(55, 55, 55);
}

.date {
    color: black;
    text-align: right;
}

.content {
    display: none;
}

.story-image {
    border-radius: 7px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    background-color: #12266B;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px 70px;
}

.footer-content ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-content h1 {
    font-size: 22px;
    line-height: 2.5rem;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-content ul li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.footer-content ul li a:hover{
    color: #FFB800;
}

footer {
    background-color: #12266B;
    border-top: 1px solid rgba(255, 255, 255, 0.715);
    font-size: 15px;
    padding: 15px 5px;
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #FFB800;
}

.news-nav li{
    list-style: none;
    margin: 10px 0; 
}

.business-nav ul li {
    padding: 5px 0;
}

.social-logos {
    padding: 18px 0;
}

.social-logos .logo-box a{
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.social-logos .logo-box a:hover{
    color: #FFB800;
}

@media only screen and (max-width: 719px) {
    .footer-content {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .social-media {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .footer-content {
        grid-template-columns: 1fr;
    }

    .social-logos {
        padding: 20px 0;
    }

    .business-nav {
        padding: 20px 0;
    }
}

@media (min-width: 720px) {
    .hamburger-nav {
        display: none;
    }

    .nav {
        display: contents;
    }

    .logo {
        margin: 0;        
        display: flex;
        justify-content: flex-start;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        height: 50px;
        background-color: #8fc4e1;

    }

    .nav-bar {
        display: flex;
        justify-content: right;
        margin: 0;
        background-color: #12266B;
        margin-top: 0;
        margin-bottom: 3em;
    }

    .nav-link {
        color: white;
        text-decoration: none;
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0.5em 1.5em;
    }

    .nav-link:hover {
        color: #FFB800;
    }

    .nav-link1 {
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
        color: white;
        padding: 0.5em 1.5em;
    }

    .nav-link1:hover {
        background: #ffb700;
        text-decoration: none;
        color: black;
    }

    #news-stories-list-template {
        width: 95%;
    }

    .story-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 20px;
        margin: 2%;
        max-width: 95%;
    }

    .section-headings {
        margin: 3%;
        padding-top: 0.75em;
        text-align: left;
        font-size: 1.6em;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .logo {
        margin: 0;   
        margin-left: 0;     
        display: flex;
        justify-content: flex-start;
        padding: 1.5rem 1.5rem 1.5rem 4.5rem;
        height: 65px;
        background-color: #8fc4e1;

    }

    .featured-story {
        max-width: 90%;
        margin: 2% auto;
    }

    .featured-story-title {
        font-size: 2em;
        font-weight: 600;
        line-height: 1.2em;
    }

    .featured-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }

    .featured-story .description {
        font-size: 20pt;
    }

    .story-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .story-list article {
        padding: 3%;
        margin: 3%;
    }

    figure {
        margin: 0;
    }
}