<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c15d01dde6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Game UI Layout</title>
</head>
<body>

    <img class="background" src="../layout/images/wp9116466.jpg" alt="">

    <img class="planet" src="../layout/images/1000x1000.png" alt="">

    <img class="spaceship" src="../layout/images/Spaceship-PNG-Transparent-Image.png" alt="">

    <img class="stars-left" src="../layout/images/stars-left.svg" alt="">
    <img class="stars-right" src="../layout/images/stars-right.svg" alt="">

    <div class="status">
        <div class="text">
            <p>250,000 stars</p>
        </div>
        <div class="collect">
            <img src="../layout/images/collect-frame.svg" class="collect-frame" alt="">
            <img src="../layout/images/collect-bar.svg" class="collect-bar" alt="">
        </div>
        <div class="text">
            <p>2,000,000 mi</p>
        </div>
        <div class="distance">
            <img src="../layout/images/distance-frame.svg" class="distance-frame" alt="">
            <img src="../layout/images/distance-bar.svg" class="distance-bar" alt="">
        </div>
        <div class="text">
            <p>72%</p>
        </div>
        <div class="fuel">
            <img src="../layout/images/fuel-frame.svg" class="fuel-frame" alt="">
            <img src="../layout/images/fuel-bar.svg" class="fuel-bar" alt="">
        </div>
    </div>

    <div class="powerups">
        <div class="shield">
            <img src="../layout/images/shield.svg" id="shield" alt="">
        </div>
        <div class="weapon">
            <img src="../layout/images/weapon.svg" id="weapon" alt="">
        </div>
    </div>

    <div class="map">
        <div class="start">
            <img src="../layout/images/map1.svg" class="map1" alt="">
        </div>
        <div class="middle">
            <img src="../layout/images/map2.svg" class="map2" alt="">
        </div>
        <div class="end">
            <img src="../layout/images/map3.svg" class="map3" alt="">
        </div>
    </div>

    <div class="button_container">
        <a href="#" id="pause">
            <i class="fa-solid fa-pause"></i>
        </a>
        <a href="#" id="play">
            <i class="fa-solid fa-play"></i>
        </a>
    </div>

    

</body>
</html>